:root {
  --very-darkblue: hsl(238, 29%, 16%);
  --softblue: hsl(240, 73%, 65%);
  --softviolet: hsl(273, 75%, 66%);
  --softred: hsl(14, 88%, 65%);

  --light-grayishblue: hsl(240, 5%, 91%);
  --dark-grayishblue: hsl(237, 12%, 33%);
  --very-dark-grayishblue: hsl(240, 6%, 50%);
}
