@import 'reset.css';
@import 'colors.css';

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  background: linear-gradient(0deg, var(--softblue), var(--softviolet));
}

.card {
  min-height: 600px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 30px;
  background: white;
  box-shadow: 0 20px 4em #00000050;
  position: relative;
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 20px 1em #00000250;
}

.bg-box {
  position: absolute;
  top: 240px;
  left: -70px;
  width: 175px;
  height: 175px;
  background: no-repeat center/100%
    url('../resources/images/illustration-box-desktop.svg');
}

.img-container {
  position: absolute;
  left: 0;
  width: 600px;
  height: 100%;
}

.list-container {
  margin-right: 10%;
  /* position:absolute; */
  /* right: 40px; */
  /* top: 40px; */
}

.img-cropper {
  width: 500px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bg-img {
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  left: -120px;
  bottom: 0;
  background: no-repeat center/100%
      url('../resources/images/illustration-woman-online-mobile.svg'),
    no-repeat 100% -150px url('../resources/images/bg-pattern-desktop.svg');
}

input[type='radio'] {
  display: none;
}

label:hover {
  color: var(--softred);
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  background: white;
  font-size: 12px;
  line-height: 20px;
  transition: all 0.4s;
  color: var(--dark-grayishblue);
}

label > p {
  color: var(--very-darkblue);
}

li {
  border-bottom: 1px solid var(--light-grayishblue);
  padding: 15px 0;
  width: 80%;
}

.arrow {
  float: right;
  transition: all 0.4s;
}

.faq {
  padding-left: 40px;
  font-size: 36px;
}

@media (min-width: 1440px) {
  .card {
    flex-direction: row;
    width: 55%;
  }

  .img-container {
    position: static;
    left: 0;
    width: 600px;
    height: 100%;
  }

  li {
    width: 400px;
  }
}

input:checked ~ .content {
  max-height: 100vh;
}

input:checked ~ label > p {
  font-weight: 700;
}

input:checked ~ label > p > img {
  transform: rotate(180deg);
}
