@import 'reset.css';
@import 'colors.css';

.disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--softblue), var(--softviolet));
}

.card {
  min-height: 600px;
  width: 55%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  border-radius: 30px;
  background: white;
  box-shadow: 0 20px 4em #00000050;

  position: relative;
  overflow: hidden;
}

.img-container {
  position: absolute;
  left: -150px;
  top: -100px;
  width: 600px;
  height: 800px;
}

.list-container {
  margin-right: 10%;
  /* position:absolute; */
  /* right: 40px; */
  /* top: 40px; */
}

.bg-img {
  height: 100%;
  position: relative;
  background: no-repeat center/100%
      url('../resources/images/illustration-woman-online-mobile.svg'),
    no-repeat 100% -150px url('../resources/images/bg-pattern-desktop.svg');
  position: relative;
}

.bg-box {
  position: absolute;
  top: 328px;
  left: 58px;
  right: 0;
  width: 220px;
  height: 220px;
  background: no-repeat center/100%
    url('../resources/images/illustration-box-desktop.svg');
}

input[type='checkbox'] {
  display: none;
}

label:hover {
  color: var(--softred);
  cursor: pointer;
}

.content {
  display: none;
  font-size: 12px;
  line-height: 20px;
  color: var(--dark-grayishblue);
}

label > p {
  color: var(--very-darkblue);
}

li {
  border-bottom: 1px solid var(--light-grayishblue);
  padding: 15px 0;
  width: 400px;
  width: 400px;
}

.arrow {
  float: right;
  transition: all 0.4s;
}

.faq {
  padding-left: 40px;
  font-size: 36px;
}

#toggle0:checked ~ .content {
  display: block;
}
#toggle1:checked ~ .content {
  display: block;
}
#toggle2:checked ~ .content {
  display: block;
}
#toggle3:checked ~ .content {
  display: block;
}
#toggle4:checked ~ .content {
  display: block;
}

#toggle0:checked ~ label > p {
  font-weight: 700;
}
#toggle1:checked ~ label > p {
  font-weight: 700;
}
#toggle2:checked ~ label > p {
  font-weight: 700;
}
#toggle3:checked ~ label > p {
  font-weight: 700;
}
#toggle4:checked ~ label > p {
  font-weight: 700;
}

#toggle0:checked ~ label > p > img {
  transform: rotate(180deg);
}
#toggle1:checked ~ label > p > img {
  transform: rotate(180deg);
}
#toggle2:checked ~ label > p > img {
  transform: rotate(180deg);
}
#toggle3:checked ~ label > p > img {
  transform: rotate(180deg);
}
#toggle4:checked ~ label > p > img {
  transform: rotate(180deg);
}
